<style>
    .footer{
            margin:0px;
        background-color:#1D0F59;
        height:120px;
        bottom: 0;
        left:0;
        right:0;
        position: relative;
       padding-top: 50px;
       color:white;
      
    }
    p{
        text-align: center;
    }
</style>



<div class="footer"> 
   <p> © 2020 Pocket Pills. All Rights Reserved</p>
   <p>Required in all British Columbia Pharmacies</p>
<p>Pharmacy practice issues may be reported to the College of Pharmacists of BC</p>

    </div>