<style>
.row{
    display: flex;
	 flex-direction: row;
}

.column{
    display: flex;
     flex-direction: column;
     margin-right: 200px;
}



.div{
    margin-left: 500px;
    margin-top: 200px;
    margin-bottom: 100px;
    height:100%;
}
#img{
    height: 330px;
}
#input{
    border:  2px solid #593ecc;
    height: 50px;
    
}
#btn{
    background-color: #593ecc;
    color: white;
    height: 50px;
    width: 200px;
}
</style>



<div class="div">

    <div class="row">
    <div class="column">
        <h2 style="font-size: 50px; line-height: 60px;">Stay Home,<br>
            Stay Healthy</h2>
            <h3  style="font-size: 20px;">PocketPills delivers For Free.
    
            </h3>
            <p style="font-size: 20px;">Finally, a pharmacy making it simple! Fill your<br>
                 prescription at PocketPills and get free delivery.
    
            </p>
            <p style="font-size: 20px;">Get started by entering your cell phone below</p>
            <div>
                <input id="input" placeholder="Cell Phone" />&nbsp;&nbsp;&nbsp;
                <button id="btn"> Proceed Securely</button>
            </div>
            
    
    </div>
    <img id="img" src="assets/images/video.png">
    </div>
    
    </div>
    
    


    
    